<aside class = "sidebar">
  <div class = "sidebard__header">
    <img src = "assets/images/sidebard-header.jpg" alt = "">
  </div>

    <div class = "sidebar__content">
      <div class = "profile">
        <img class = "profile__avatar" src = "https
        ://placeholder.it/100" alt = "">
        <div class = "profile__name"> Наичслить НДС</div>
        <div class = "profile__prof"> Вычленить НДС</div>

        <ul class = "social">
          <li class = "social__item" href = "#">
            <a class = "social__link">
              <img src ="https://via.placeholder.com/300x150" alt = "">
            </a>
          </li>
          <li class = "social__item" href = "#">
            <a class = "social__link">
              <img src ="https://via.placeholder.com/300x150" alt = "">
            </a>
          </li>
          <li class = "social__item" href = "#">
            <a class = "social__link">
              <img src ="https://via.placeholder.com/300x150" alt = "">
            </a>
          </li>
          <li class = "social__item" href = "#">
          <a class = "social__link">
            <img src ="https://via.placeholder.com/300x150" alt = "">
            </a>
          </li>
        </ul>

        <div class = "profile__text">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et quam id eros aliquam dapibus. Mauris tincidunt in elit quis vestibulum. Aenean nec lectus turpis. Aliquam varius lorem at augue hendrerit, vitae pharetra quam condimentum. Proin dui risus, bibendum sed erat in, ultricies feugiat augue. Nullam porta ante dapibus lacus dictum varius. </p>
        </div>

      </div> <!--profile-->
    </div><!--sidebar-->

    <div class = "sidebar__footer">
      <a class = "btn btn--red" href ="#"> Работы </a>
      <button class = "btn btn--blue" href = "#" type = "button">Сюда </button>
    </div>
</div>